.navbar-text > a {
	color: inherit;
	text-decoration: none;
}

.dropdown-toggle {
	color: inherit;
	text-decoration: none;
}


.navbar-brand {
	font-size: 28px;
}

body {
	margin-top: 5%;
	font-family: 'Cutive Mono', monospace;
}

#intro {
	background-color: #919395;
	border: 10px solid #919395;
	color: white;
	padding-top: 1%;
}

#intro_program {
	
	background-color: #061A20;
	padding-left: 10%;
	line-height: 2em;

}

#intro_program dd+dt {
	line-height: 2.5em;
}

#intro_program dd {
	text-indent: 4%;
	color: #FFDC54;
}

#inro_program > a {
	color: inherit;
}

#about {
	background-color: #5A5895;
	margin-top: 5%;
	padding: 0, 0, 0, 5px;
}

#aboutPic {
	background: #919395;
	border: none;
	margin-top: 40px;
}

#random {
	border: none;
	width: 45%;
	margin-top: 20px;
	margin-left: 20px;
	font-size: 15px;
	font-weight: bold;
	color: #061A20;
}

#random p {
	
}

#projects {
	background-color: #5A5895;
}


